<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News AI Summarizer</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <h1>Upload Newspaper PDF</h1>
    <form action="/" method="post" enctype="multipart/form-data">
        <input type="file" name="newspaper_pdf" accept=".pdf">
        <button type="submit">Upload & Summarize</button>
    </form>

    {% if summary %}
    <h2>Summary:</h2>
    <p>{{ summary }}</p>
    {% endif %}
</body>
</html>



